.pagination{
  margin: 150px auto 0 auto;
}
.paginationBttns {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 50%;
  margin: 40px auto 50px auto;
  padding: 0;
}
.paginationBttns a{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color);
  cursor: pointer;
  color: var(--color);
}
.paginationBttns a:hover {
  color: white;
  background-color: var(--color);
}
.paginationActive a {
  color: white;
  background-color: var(--color);
}
