@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

*{
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  background-color: sandybrown;
  color: white;
}

@import "style/Pagination";
@import "style/Navigation";








